*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
}

body{
	background: #222;
}

main{
	padding-top: 50px;
}

option{
	color: #000;
}

.warning {
	padding: 20px;
	border-radius: 5px;
	margin: 10px auto;
	border: 1px solid rgba(255, 0, 0, 0.82);
	font-size: 1em;
	color: rgba(255, 26, 26, 0.79);
}


/* ADDEMPLOYER */

.formbox{
	width: 40%;
	margin: 0 auto;
}

.formbox button{
	margin-top: 20px;
}

/* ALLEMPLOYERS */

.theUser{
	display: block;
	padding: 15px;
	cursor: pointer;
	border-radius: 10px;
	transition: background .3s ease-out;
	margin-top: 5px;
	text-decoration: none;
	width: 50%;
	background: #2e2e2e;
	border: none;
}

.theUser:hover{
	background: #666;
	color: #000;
}

.theUser span{
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px 5px #000;
}


/* DEPTS */

.dept{
	width: 30%;
	padding: 20px;
	background: #181818;
	border-radius: 5px;
}

.deptForm{
	margin: 0 auto;
	width: 30%;
}

.allDepts{
	margin: 0 auto;
	width: 100%;
}

.dept span{
	font-size: 1.1em;
	font-weight: 100;
	text-shadow: 1px 1px 5px #000;
}

.dept button{
	float: right;
}


/* EMPLOYER */

.userData p{
	font-size: 1.1em;
	font-weight: 100;
}